/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "hardeststyle";
  src: url("../fonts/HardestStyleDemo.ttf");
}
/* line 9, ../sass/style.scss */
html, body {
  font-family: "hardeststyle";
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/style.scss */
header {
  overflow: hidden;
  background-color: #E82C0C;
}
/* line 17, ../sass/style.scss */
header h1 {
  text-align: center;
}
/* line 20, ../sass/style.scss */
header #player {
  width: 550px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  color: #0D6BFF;
  text-align: center;
  font-size: 25px;
}

/* line 32, ../sass/style.scss */
main .elements-user img {
  width: 100px;
}
