/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "personal";
  src: url("../fonts/PersonalServices.ttf");
}
 /*
*
*html,body
*
*
*/
/* line 15, ../sass/style.scss */
html, body {
  font-family: "personal";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*
*
*header
*
*
*/
/* line 28, ../sass/style.scss */
header {
  overflow: hidden;
  background-color: #E82C0C;
}
/* line 31, ../sass/style.scss */
header h1 {
  text-align: center;
}
/* line 34, ../sass/style.scss */
header #player {
  /**
  *
  *
  *player name
  *
  **/
  width: 300px;
  height: 100px;
  line-height: 40px;
  margin: 0 auto;
  color: #0D6BFF;
  text-align: center;
  font-size: 20px;
}
/* line 49, ../sass/style.scss */
header #result {
  /*
  *
  *result
  *
  */
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

/*
*
*
*main
*
*/
/* line 66, ../sass/style.scss */
main {
  display: flex;
  justify-content: space-around;
}
/* line 69, ../sass/style.scss */
main h2 {
  font-size: 10px;
}
/* line 72, ../sass/style.scss */
main .animateRock {
  animation-name: rotation, rock;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 80, ../sass/style.scss */
main .animateLeaf {
  animation-name: rotation, leaf;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 88, ../sass/style.scss */
main .animateScissors {
  animation-name: rotation, scissors;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 96, ../sass/style.scss */
main .animateLeafComputer {
  animation-name: rotationComputer, leafComputer;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 104, ../sass/style.scss */
main .animateRockComputer {
  animation-name: rotationComputer, rockComputer;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 112, ../sass/style.scss */
main .animateScissorsComputer {
  animation-name: rotationComputer, scissorsComputer;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}
@-webkit-keyframes rotationComputer {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(630deg);
  }
}
@keyframes rock {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 25px;
    top: 0;
  }
  50% {
    left: 50px;
    top: 0;
  }
  75% {
    left: 75px;
    top: 0;
  }
  100% {
    left: 120px;
    top: 20px;
  }
}
@keyframes leaf {
  0% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: 25px;
    bottom: 25px;
  }
  50% {
    left: 50px;
    bottom: 30px;
  }
  75% {
    left: 75px;
    bottom: 35px;
  }
  100% {
    left: 120px;
    bottom: 60px;
  }
}
@keyframes scissors {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 25px;
    top: 25px;
  }
  50% {
    left: 50px;
    top: 50px;
  }
  75% {
    left: 75px;
    top: 80px;
  }
  100% {
    left: 120px;
    top: 120px;
  }
}
@keyframes rockComputer {
  0% {
    right: 0;
    top: 0;
  }
  25% {
    right: 25px;
    top: 0;
  }
  50% {
    right: 50px;
    top: 0;
  }
  75% {
    right: 75px;
    top: 0;
  }
  100% {
    right: 120px;
    top: 20px;
  }
}
@keyframes leafComputer {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 25px;
    bottom: 25px;
  }
  50% {
    right: 50px;
    bottom: 50px;
  }
  75% {
    right: 75px;
    bottom: 60px;
  }
  100% {
    right: 120px;
    bottom: 70px;
  }
}
@keyframes scissorsComputer {
  0% {
    right: 0;
    top: 0;
  }
  25% {
    right: 25px;
    top: 25px;
  }
  50% {
    right: 50px;
    top: 50px;
  }
  75% {
    right: 75px;
    top: 80px;
  }
  100% {
    right: 120px;
    top: 120px;
  }
}
/* line 180, ../sass/style.scss */
main .elements-user .animate {
  position: relative;
  display: block;
}
/* line 186, ../sass/style.scss */
main .elements-computer .animate {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  display: block;
}
/* line 192, ../sass/style.scss */
main form {
  display: flex;
  margin-top: 25px;
}
/* line 196, ../sass/style.scss */
main form .form label {
  font-size: 10px;
}
/* line 199, ../sass/style.scss */
main form .form label, main form .form input {
  display: block;
}
/* line 202, ../sass/style.scss */
main form .form input {
  width: 15px;
  margin: 0 auto;
}
/* line 208, ../sass/style.scss */
main .unclickable {
  pointer-events: none;
}
/* line 211, ../sass/style.scss */
main .win, main .lose {
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 224, ../sass/style.scss */
main .win {
  background-image: url("../img/39260137.gif");
}
/* line 227, ../sass/style.scss */
main .lose {
  background-image: url("../img/rivers-or-tears.gif");
}
/* line 230, ../sass/style.scss */
main #replay {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  margin-top: 200px;
  color: #944949;
  cursor: crosshair;
}

/* line 241, ../sass/style.scss */
footer {
  background-color: #E82C0C;
  height: 110px;
}
/* line 245, ../sass/style.scss */
footer .container p {
  padding-top: 50px;
  text-align: center;
}
