/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "personal";
  src: url("../fonts/PersonalServices.ttf");
}
/*
*
*html,body
*
*
*/
/* line 18, ../sass/style.scss */
html, body {
  font-family: "personal";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*
*
*header
*
*
*/
/* line 32, ../sass/style.scss */
header {
  overflow: hidden;
  background-color: #4B697F;
}
/* line 35, ../sass/style.scss */
header h1 {
  text-align: center;
}
/* line 38, ../sass/style.scss */
header #player {
  /**
  *
  *
  *player name
  *
  **/
  text-align: center;
}
/* line 47, ../sass/style.scss */
header #result {
  /*
  *
  *result
  *
  */
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

/*
*
*
*main
*
*/
/* line 65, ../sass/style.scss */
main {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
/* line 69, ../sass/style.scss */
main h2 {
  padding-bottom: 25px;
  font-size: 10px;
}
/* line 73, ../sass/style.scss */
main .animateRock {
  /**
  *
  *animation rock user
  *
  *
  **/
  animation-name: rotation, rock;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 87, ../sass/style.scss */
main .animateLeaf {
  /*
  *
  *
  *animation leaf user
  *
  **/
  animation-name: rotation, leaf;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 101, ../sass/style.scss */
main .animateScissors {
  /*
  **
  *
  *animation scissors user
  *
  *
  */
  animation-name: rotation, scissors;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 116, ../sass/style.scss */
main .animateLeafComputer {
  /*
  *
  *animation leaf computer
  *
  *
  **/
  animation-name: rotationComputer, leafComputer;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 130, ../sass/style.scss */
main .animateRockComputer {
  /*
  *
  *animation rock computer
  *
  *
  **/
  animation-name: rotationComputer, rockComputer;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
/* line 144, ../sass/style.scss */
main .animateScissorsComputer {
  /*
  *
  *animation scissors computer
  *
  **/
  animation-name: rotationComputer, scissorsComputer;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: unset;
  animation-fill-mode: forwards;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}
@-webkit-keyframes rotationComputer {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(630deg);
  }
}
@keyframes rock {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 25px;
    top: 0;
  }
  50% {
    left: 50px;
    top: 0;
  }
  75% {
    left: 75px;
    top: 0;
  }
  100% {
    left: 120px;
    top: 20px;
  }
}
@keyframes leaf {
  0% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: 25px;
    bottom: 25px;
  }
  50% {
    left: 50px;
    bottom: 30px;
  }
  75% {
    left: 75px;
    bottom: 35px;
  }
  100% {
    left: 120px;
    bottom: 60px;
  }
}
@keyframes scissors {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 25px;
    top: 25px;
  }
  50% {
    left: 50px;
    top: 50px;
  }
  75% {
    left: 75px;
    top: 80px;
  }
  100% {
    left: 100px;
    top: 140px;
  }
}
@keyframes rockComputer {
  0% {
    right: 0;
    top: 0;
  }
  25% {
    right: 25px;
    top: 0;
  }
  50% {
    right: 50px;
    top: 0;
  }
  75% {
    right: 75px;
    top: 0;
  }
  100% {
    right: 100px;
    top: 50px;
  }
}
@keyframes leafComputer {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 25px;
    bottom: 25px;
  }
  50% {
    right: 50px;
    bottom: 40px;
  }
  75% {
    right: 75px;
    bottom: 50px;
  }
  100% {
    right: 100px;
    bottom: 40px;
  }
}
@keyframes scissorsComputer {
  0% {
    right: 0;
    top: 0;
  }
  25% {
    right: 25px;
    top: 25px;
  }
  50% {
    right: 50px;
    top: 50px;
  }
  75% {
    right: 75px;
    top: 80px;
  }
  100% {
    right: 100px;
    top: 150px;
  }
}
/* line 307, ../sass/style.scss */
main .elements-user .animate {
  position: relative;
  display: block;
}
/* line 313, ../sass/style.scss */
main .elements-computer .animate {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  display: block;
  padding-top: 5px;
}
/* line 320, ../sass/style.scss */
main form {
  display: flex;
  padding-top: 50px;
}
/* line 324, ../sass/style.scss */
main form .form label {
  font-size: 10px;
}
/* line 327, ../sass/style.scss */
main form .form label, main form .form input {
  display: block;
}
/* line 330, ../sass/style.scss */
main form .form input {
  width: 35px;
  margin: 0 auto;
}
/* line 336, ../sass/style.scss */
main .unclickable {
  pointer-events: none;
}
/* line 339, ../sass/style.scss */
main .win, main .lose {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  bottom: 0 !important;
  right: 0;
  top: 0;
}
/* line 352, ../sass/style.scss */
main .win {
  background-image: url("../img/39260137.gif");
}
/* line 355, ../sass/style.scss */
main .lose {
  background-image: url("../img/rivers-or-tears.gif");
}
/* line 358, ../sass/style.scss */
main #replay {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  margin-top: 200px;
  color: #944949;
  cursor: pointer;
}

/*================================================================
footer
==================================================================*/
/* line 372, ../sass/style.scss */
footer {
  overflow: hidden;
  background-color: #4B697F;
  height: 110px;
}
/* line 377, ../sass/style.scss */
footer .container p {
  line-height: 110px;
  text-align: center;
}

/*===============================================
tablet format
==================================================*/
@media screen and (min-width: 768px) {
  /* line 5, ../sass/_tablet.scss */
  main {
    width: 700px;
    margin: auto auto;
  }
  /* line 8, ../sass/_tablet.scss */
  main h2 {
    font-size: 20px;
  }
  /* line 11, ../sass/_tablet.scss */
  main .elements-user {
    width: 300px;
  }
  /* line 13, ../sass/_tablet.scss */
  main .elements-user .animate {
    padding-top: 20px;
  }
  /* line 19, ../sass/_tablet.scss */
  main .elements-computer {
    width: 300px;
  }
  /* line 21, ../sass/_tablet.scss */
  main .elements-computer .animate {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    display: block;
    padding-top: 30px;
  }
  @keyframes scissors {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      left: 100px;
      top: 30px;
    }
    50% {
      left: 150px;
      top: 60px;
    }
    75% {
      left: 200px;
      top: 100px;
    }
    100% {
      left: 250px;
      top: 150px;
    }
  }
  @keyframes scissorsComputer {
    0% {
      right: 0;
      top: 0;
    }
    25% {
      right: 100px;
      top: 30px;
    }
    50% {
      right: 150px;
      top: 60px;
    }
    75% {
      right: 200px;
      top: 100px;
    }
    100% {
      right: 250px;
      top: 150px;
    }
  }
  @keyframes rock {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      left: 100px;
      top: 0;
    }
    50% {
      left: 150px;
      top: 0;
    }
    75% {
      left: 200px;
      top: 0;
    }
    100% {
      left: 250px;
      top: -50px;
    }
  }
  @keyframes rockComputer {
    0% {
      right: 0;
      top: 0;
    }
    25% {
      right: 100px;
      top: 0;
    }
    50% {
      right: 150px;
      top: 0;
    }
    75% {
      right: 200px;
      top: 0;
    }
    100% {
      right: 250px;
      top: -30px;
    }
  }
  @keyframes leaf {
    0% {
      left: 0;
      bottom: 0;
    }
    25% {
      left: 100px;
      bottom: 30px;
    }
    50% {
      left: 150px;
      bottom: 60px;
    }
    75% {
      left: 200px;
      bottom: 90px;
    }
    100% {
      left: 250px;
      bottom: 200px;
    }
  }
  @keyframes leafComputer {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 100px;
      bottom: 30px;
    }
    50% {
      right: 150px;
      bottom: 60px;
    }
    75% {
      right: 200px;
      bottom: 90px;
    }
    100% {
      right: 250px;
      bottom: 250px;
    }
  }
  /* line 161, ../sass/_tablet.scss */
  main .form {
    width: 120px;
  }
  /* line 163, ../sass/_tablet.scss */
  main .form label {
    text-align: center;
    font-size: 15px !important;
  }
}
/*===============================================================
landscape tablet format
==================================================================*/
@media screen and (min-width: 1024px) {
  @keyframes scissors {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      left: 100px;
      top: 30px;
    }
    50% {
      left: 150px;
      top: 60px;
    }
    75% {
      left: 200px;
      top: 100px;
    }
    100% {
      left: 250px;
      top: 220px;
    }
  }
  @keyframes scissorsComputer {
    0% {
      right: 0;
      top: 0;
    }
    25% {
      right: 100px;
      top: 30px;
    }
    50% {
      right: 150px;
      top: 60px;
    }
    75% {
      right: 200px;
      top: 100px;
    }
    100% {
      right: 250px;
      top: 300px;
    }
  }
  @keyframes rock {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      left: 100px;
      top: 0;
    }
    50% {
      left: 150px;
      top: 0;
    }
    75% {
      left: 200px;
      top: 0;
    }
    100% {
      left: 250px;
      top: 0;
    }
  }
  @keyframes rockComputer {
    0% {
      right: 0;
      top: 0;
    }
    25% {
      right: 100px;
      top: 0;
    }
    50% {
      right: 150px;
      top: 0;
    }
    75% {
      right: 200px;
      top: 0;
    }
    100% {
      right: 250px;
      top: 0;
    }
  }
  @keyframes leaf {
    0% {
      left: 0;
      bottom: 0;
    }
    25% {
      left: 100px;
      bottom: 30px;
    }
    50% {
      left: 150px;
      bottom: 60px;
    }
    75% {
      left: 200px;
      bottom: 90px;
    }
    100% {
      left: 250px;
      bottom: 220px;
    }
  }
  @keyframes leafComputer {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 100px;
      bottom: 30px;
    }
    50% {
      right: 150px;
      bottom: 60px;
    }
    75% {
      right: 200px;
      bottom: 90px;
    }
    100% {
      right: 250px;
      bottom: 220px;
    }
  }
}
/*==============================================================
desktop
================================================================ */
@media screen and (min-width: 1200px) {
  /* line 5, ../sass/_desktop.scss */
  main {
    width: 1200px;
    margin: 0 auto;
  }
  @keyframes scissors {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      left: 100px;
      top: 30px;
    }
    50% {
      left: 150px;
      top: 60px;
    }
    75% {
      left: 200px;
      top: 100px;
    }
    100% {
      left: 350px;
      top: 320px;
    }
  }
  @keyframes scissorsComputer {
    0% {
      right: 0;
      top: 0;
    }
    25% {
      right: 100px;
      top: 30px;
    }
    50% {
      right: 150px;
      top: 60px;
    }
    75% {
      right: 200px;
      top: 100px;
    }
    100% {
      right: 350px;
      top: 320px;
    }
  }
  @keyframes rock {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      left: 100px;
      top: 0;
    }
    50% {
      left: 150px;
      top: 0;
    }
    75% {
      left: 200px;
      top: 0;
    }
    100% {
      left: 350px;
      top: 0;
    }
  }
  @keyframes rockComputer {
    0% {
      right: 0;
      top: 0;
    }
    25% {
      right: 100px;
      top: 0;
    }
    50% {
      right: 150px;
      top: 0;
    }
    75% {
      right: 200px;
      top: 0;
    }
    100% {
      right: 350px;
      top: 0;
    }
  }
  @keyframes leaf {
    0% {
      left: 0;
      bottom: 0;
    }
    25% {
      left: 100px;
      bottom: 30px;
    }
    50% {
      left: 150px;
      bottom: 60px;
    }
    75% {
      left: 200px;
      bottom: 90px;
    }
    100% {
      left: 350px;
      bottom: 320px;
    }
  }
  @keyframes leafComputer {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 100px;
      bottom: 30px;
    }
    50% {
      right: 150px;
      bottom: 60px;
    }
    75% {
      right: 200px;
      bottom: 90px;
    }
    100% {
      right: 350px;
      bottom: 320px;
    }
  }
}
