/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "personal";
  src: url("../fonts/PersonalServices.ttf");
}
/* line 10, ../sass/style.scss */
html, body {
  font-family: "personal";
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/style.scss */
header {
  overflow: hidden;
  background-color: #E82C0C;
}
/* line 18, ../sass/style.scss */
header h1 {
  text-align: center;
}
/* line 21, ../sass/style.scss */
header #player {
  width: 550px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  color: #0D6BFF;
  text-align: center;
  font-size: 25px;
}

/* line 31, ../sass/style.scss */
main {
  margin-left: 10px;
  display: flex;
}
/* line 34, ../sass/style.scss */
main h2 {
  font-size: 10px;
}
/* line 37, ../sass/style.scss */
main .translateAnimationClass {
  -webkit-animation: rotation 2s infinite linear;
}
/* line 40, ../sass/style.scss */
main .translateAnimationClassC {
  -webkit-animation: rotation 2s infinite;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(700deg);
  }
}
/* line 53, ../sass/style.scss */
main .elements-user img {
  position: relative;
  display: block;
}
/* line 59, ../sass/style.scss */
main .elements-computer img {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  display: block;
}
/* line 65, ../sass/style.scss */
main form {
  display: flex;
  margin-top: 25px;
}
/* line 69, ../sass/style.scss */
main form .form label {
  font-size: 10px;
}
/* line 72, ../sass/style.scss */
main form .form label, main form .form input {
  display: block;
}
/* line 75, ../sass/style.scss */
main form .form input {
  width: 15px;
  margin: 0 auto;
}
/* line 81, ../sass/style.scss */
main #result {
  position: absolute;
  top: 300px;
  left: 140px;
}
