/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "personal";
  src: url("../fonts/PersonalServices.ttf");
}
/* line 10, ../sass/style.scss */
html, body {
  font-family: "personal";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/style.scss */
header {
  overflow: hidden;
  background-color: #E82C0C;
}
/* line 20, ../sass/style.scss */
header h1 {
  text-align: center;
}
/* line 23, ../sass/style.scss */
header #player {
  width: 300px;
  height: 150px;
  line-height: 100px;
  margin: 0 auto;
  color: #0D6BFF;
  text-align: center;
  font-size: 25px;
}
/* line 33, ../sass/style.scss */
header #result {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

/* line 39, ../sass/style.scss */
main {
  display: flex;
  justify-content: space-around;
}
/* line 42, ../sass/style.scss */
main h2 {
  font-size: 10px;
}
/* line 45, ../sass/style.scss */
main .translateAnimationClass {
  -webkit-animation: rotation 2s infinite linear;
}
/* line 48, ../sass/style.scss */
main .translateAnimationClassC {
  -webkit-animation: rotation 2s infinite;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(700deg);
  }
}
/* line 61, ../sass/style.scss */
main .elements-user img {
  position: relative;
  display: block;
}
/* line 67, ../sass/style.scss */
main .elements-computer img {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  display: block;
}
/* line 73, ../sass/style.scss */
main form {
  display: flex;
  margin-top: 25px;
}
/* line 77, ../sass/style.scss */
main form .form label {
  font-size: 10px;
}
/* line 80, ../sass/style.scss */
main form .form label, main form .form input {
  display: block;
}
/* line 83, ../sass/style.scss */
main form .form input {
  width: 15px;
  margin: 0 auto;
}
/* line 89, ../sass/style.scss */
main .unclickable {
  pointer-events: none;
}
/* line 92, ../sass/style.scss */
main .move {
  position: relative;
  animation: mymove 4s linear 0s;
}
@-webkit-keyframes mymove {
  from {
    left: 100px;
  }
  to {
    top: 0px;
  }
}
