/*===============================================
tablet format
==================================================*/
@media screen and (min-width: 768px){
  main{
    width: 700px;
    margin: auto auto;
    h2{
      font-size: 20px;
    }
    .elements-user {
      width: 300px;
      .animate{

        padding-top: 20px;
      }
      #scissors {
        content: url("../img/ciseaux_m.png");
      }
      #rock{
        content: url('../img/pierre_m.png');
      }
      #leaf{
        content:url('../img/feuille_m.png');
      }
    }
    .elements-computer {
      width: 300px;
      .animate {
        @include transform (rotate(-90deg));
        position: relative;
        display: block;
        padding-top: 30px;
      }
      #scissorsComputer {
        content: url("../img/ciseaux_m.png");
      }
      #rockComputer{
        content: url('../img/pierre_m.png');
      }
      #leafComputer{
        content:url('../img/feuille_m.png');
      }
    }
    @keyframes scissors {
      0% {
        left: 0;
        top: 0
      }
      25% {
        left: 100px;
        top: 30px
      }
      50% {
        left: 150px;
        top: 60px
      }
      75% {
        left: 200px;
        top: 100px
      }
      100% {
        left: 250px;
        top: 150px
      }
    }
    @keyframes scissorsComputer {
      0% {
        right: 0;
        top: 0
      }
      25% {
        right: 100px;
        top: 30px
      }
      50% {
        right: 150px;
        top: 60px
      }
      75% {
        right: 200px;
        top: 100px
      }
      100% {
        right: 250px;
        top: 150px
      }
    }
    @keyframes rock {
      0% {
        left: 0;
        top: 0
      }
      25% {
        left: 100px;
        top: 0
      }
      50% {
        left: 150px;
        top: 0
      }
      75% {
        left: 200px;
        top: 0
      }
      100% {
        left: 250px;
        top: -50px
      }
    }
    @keyframes rockComputer {
      0% {
        right: 0;
        top: 0
      }
      25% {
        right: 100px;
        top: 0
      }
      50% {
        right: 150px;
        top: 0
      }
      75% {
        right: 200px;
        top: 0
      }
      100% {
        right: 250px;
        top: -50px
      }
    }
    @keyframes leaf {
      0% {
        left: 0;
        bottom: 0;
      }
      25% {
        left: 100px;
        bottom: 30px
      }
      50% {
        left: 150px;
        bottom: 60px
      }
      75% {
        left: 200px;
        bottom: 90px
      }
      100% {
        left: 250px;
        bottom: 200px
      }
    }
    @keyframes leafComputer {
      0% {
        right: 0;
        bottom: 0;
      }
      25% {
        right: 100px;
        bottom: 30px
      }
      50% {
        right: 150px;
        bottom: 60px
      }
      75% {
        right: 200px;
        bottom: 90px
      }
      100% {
        right: 250px;
        bottom: 200px
      }
    }
    .form{
      width: 120px;
      label{
        text-align: center;
        font-size: 15px !important;
      }
    }
  }
}